sudo: required
language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  # ensure that we have the full tag information available for version.py
  - git fetch --unshallow --tags
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda install -q conda
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # create environment and install dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy astropy nose pip matplotlib coverage scikit-learn h5py six pyyaml numba
  - source activate test-environment
  - conda install -c conda-forge healpy pycodestyle mpi4py
  - pip install coveralls
  - pip install --no-deps astropy-healpix
  - pip install git+https://github.com/RadioAstronomySoftwareGroup/pyuvdata.git
  - pip install git+https://github.com/telegraphic/PyGSM.git
script:
  - nosetests healvis
  - pycodestyle healvis/*.py healvis/tests/*.py --ignore=E501,W503
